 *{
   /* color: #FFFFFF ; */
   font-family: Mulish;
   
} 
.container{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 1170px;
    height: 500px;
    position: relative;
    margin:120px auto;
    border-radius: 16px;  
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    
}
.banner-container{ 
    position: relative;
    text-align: center; 
    padding: 100px 150px ;
}
.banner-title{ 
    color: rgb(0, 0, 0); 
    font-size: 60px; 
    font-weight: 800;
    margin-bottom: 0px;   
}

.banner-description{  
    font-size: 16px;
    width: 600px; 
    font-weight: 400;
    line-height: 26px;  
    margin-left: 150px;
    margin-top: 20px;
     
}
svg{
    margin-left: -40px; 
}
 
.input-section{ 
    background: rgba(255, 255, 255, 0.30);
    width: 700px;
    height: 52px;
    margin-left: 70px;
    
}
.input-section input{  
    border-radius: 8px; 
    width: 150px;
    height: 30px;  
    margin-top: 10px; 
    border: none;
}
 
/* list section */

.list-container{
    display: flex;
    margin: 120px 160px ;
} 
.list-title{
    color: #131318;  
    font-size: 40px; 
    font-weight: 800;
    margin-top: -10px;  
}
.list-items{
    padding-right: 100px;
}
.list-description{  
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px; 
    font-weight: 400px;
    line-height: 26px; 
}
.list-items li{
    color: rgba(19, 19, 24, 0.70); 
    font-size: 16px; 
    font-weight: 400;
    line-height: 36px;  
}
.list-btn{
    width: 104px;
    height: 32px; 
    border-radius: 8px;
    background: #FF5400;
    border: none;
    /* margin-top: 50px; */
}

img{
   width: 550px;
   height: 500px;
   border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* place section */

.place-container{
    margin: 120px 130px;
}
.place-title-container{
   width: 1240px;
   height: 150px;
}
.place-title{
    color: #131318;
    text-align: center; 
    font-size: 35px; 
    font-weight: 700;
    margin-bottom: 24px; 
}
.place-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;  
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;  
}
.place-img-container{ 
    
}
.place-img-container img{
    /* width:30%; */
}
.place-img-1 {
    display: flex; 
    gap: 20px;
}
.place-img-1 img{
    width: 590px;
    height: 300px; 
    
}

.place-img-2{ 
    display: flex;
    gap: 20px ;
    margin-top: 20px ;
}
.img2-1{
    width: 388px;
    height: 286px; 
}
.img2-2{
    width: 488px;
    height: 286px; 
}
.img2-3{
    width: 288px;
    height: 286px; 
}
.place-img-3{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.img3-1{
    width: 492px;
    height: 300px; 
}
.img3-2{
    width: 695px;
    height: 300px; 
}
/* card section */

.card-section{
    margin: 120px 125px ;
}
.card-title-container{
    text-align: center;
}
.card-title{
    color: #131318; 
    font-size: 40px; 
    font-weight: 800; 
    margin-bottom: 20px;
}
.card-description{
    color: rgba(19, 19, 24, 0.70); 
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px; 
}

.card-container img{
    width: 54px;
    height: 54px; 
}
.card-container{ 
    margin-top: 10px;
    /* position: relative; */
}
.card-1-2-container{
    display: flex;
    gap: 20px;
}
.card-1{
    width: 500px;
    height: 220px;  
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 50px;
}
.card-heading-1{
    color: #131318; 
    font-size: 24px; 
    font-weight: 800; 
    margin-bottom: 0px;
}
.card-description-1{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 10px;
}
.card-2{
    width: 500px;
    height: 220px; 
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 50px;
}
.card-heading-2{
    color: #131318; 
    font-size: 24px; 
    font-weight: 800; 
    margin-bottom: 10px;
}
.card-description-2{
    width: 486px;
    color: #5A5A5D; 
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px; 
    margin-top: 0px;
}
.card-3{ 
    margin: 20px auto;
    width: 500px;
    height: 220px; 
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 50px; 
}
.card-heading-3{
    color: #131318; 
    font-size: 24px; 
    font-weight: 800; 
    margin-bottom: 10px;
}
.card-description-3{
    width: 486px;
    color: #5A5A5D; 
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
}

/* box section */
.box-section{
    margin: 120px 120px;
}
.box-container{ 
    display: flex;

}
.box-title{
    color: #131318; 
    font-size: 24px; 
    font-weight: 800; 
}
.box-description{
    width: 350px;
    color: #5A5A5D; 
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;  
}
.box-title-container{
    width: 400px;
    padding: 50px;
    height: 300px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.name-box{
    width: 393px;
    height: 32px; 
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.email-box{
    width: 393px;
    height: 32px; 
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.btn-primary{
    width: 393px;
    height: 32px; 
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.box-image{ 
    margin-left:100px ;
}
.box-image img{
    width: 670px;
    height: 400px; 
}
 .div{
    width: 300px;
    height: 80px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-left: -170px;
    margin-top: 298px;
 } 
 .div-text{
    text-align: center;
    color: #FFF; 
    font-size: 14px; 
    font-weight: 400; 
    margin-bottom: 0px;
    
 }
 .div-heading{
    text-align: center;
    color: #FFF; 
    font-size: 18px; 
    font-weight: 800; 
    margin-top: 5px;
 }


@media screen and (max-width:576px) {
    .place-container,
    .container{
        flex-direction: column;
        width: 335px;
        height: 483px; 
        margin: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
    .place-img-1,
    .place-img-2, 
    .place-img-3{
        flex-direction: column;
        width: 100%; 
    } 
    .banner-container{
        flex-direction: column;
        text-align: none;
        padding: 0px;
    }
    .place-title-container { 
        width: 0px; 
    }
    .place-description,
    .banner-description{
        width: 300px;
        margin: 0px;
    }
    .input-section{
        flex-direction: column;
        width: 300px;
        margin: 0px;
    }
    .list-container{
        flex-direction: column;
        margin: 0px;
        padding : 0px ; 
    }
    img{
        width: 335px;
        height: 342px; 
    } 
    .place-img-container{
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .img2-1 ,
    .img2-2,
    .img2-3,
    .img3-1,
    .img3-2{
        width: auto;
        height: auto;
        gap: 20px ;
    } 
    
    .place-img-1 img{
         width: auto;
         height: auto;
    }
    .card-container{
        margin: auto;
    }
    .card-1-2-container{
        flex-direction: column;
    }



}


  
